@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
}

#chatgpt-improved-prompt-extension {
  width: min-content;
  display: "flex";
  flex-direction: "row";
  align-items: "end";
  padding-bottom: "16px";
  @media (max-width: 767px) : {
    align-items: "center";
    padding-bottom: "0px";
  }
}
